@charset "UTF-8";

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  list-style: none;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

a {
  color: black;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.sticky-body-space {
  height: 100px;
}

.custom-btn a {
  background-color: #3d3d3d;
  color: white;
  padding: 10px;
  border-radius: 7px;
}

.custom-btn a:hover {
  background-color: #838383;
}

.page-header {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.page-header h2 {
  text-align: center;
  color: white;
  line-height: 300px;
  font-size: 5rem;
}

@media (max-width: 500px) {
  .page-header {
    height: 200px;
  }

  .page-header h2 {
    font-size: 3rem;
  }
}

@media (max-width: 330px) {
  .page-header {
    height: 150px;
  }

  .page-header h2 {
    font-size: 2rem;
  }
}

nav.woocommerce-breadcrumb {
  margin-left: 30px;
  color: gray;
}

nav.woocommerce-breadcrumb a {
  color: gray;
}

.overflow {
  overflow-x: hidden;
}

header {
  background: #F8F5F2;
}

header .flex {
  justify-content: space-between;
}

header .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.5s;
}

header li {
  margin-left: 30px;
  padding-bottom: 10px;
}

header a {
  color: gray;
}

header .header-top {
  padding-top: 20px;
  padding-right: 20px;
}

@media (max-width: 991px) {
  header .header-top {
    display: none;
  }
}

header .header-top .custom-btn {
  margin-left: 20px;
}

header .header-top i {
  margin: 0 5px;
}

header .header-top .current_page_item {
  border-bottom: 2px solid #D7B398;
}

header .header-top .chw-widget ul {
  display: flex;
}

header .header-top .chw-widget ul li a {
  font-size: 0.8rem;
}

header .header-main {
  background-color: white;
  padding: 20px 40px;
  transition: all 0.5s;
}

header .header-main a {
  color: black;
  margin-left: 10px;
}

header .header-main .nav-toggler {
  display: none;
  position: absolute;
  right: 40px;
  top: 30px;
  font-size: 1.5rem;
}

@media (max-width: 991px) {
  header .header-main .nav-toggler {
    display: block;
  }
}

header .header-main .nav-toggler:hover {
  cursor: pointer;
}

header .header-main .logo {
  margin-top: -25px;
}

header .header-main .header-bottom-nav {
  margin-top: 10px;
  margin-bottom: -10px;
  margin-left: 15px;
  margin-right: 15px;
}

header .header-main .header-bottom-nav .product-categories {
  display: flex;
}

header .header-main .header-bottom-nav .product-categories li {
  margin-left: 0px;
}

header .header-main .header-bottom-nav .product-categories li a {
  margin-right: 10px;
}

header .header-main .header-bottom-nav .product-categories .current-cat {
  border-bottom: 2px solid #D7B398;
}

@media (max-width: 991px) {
  header .header-main .header-bottom-nav {
    display: none;
  }
}

header .header-main .search-box .show-on-mobile {
  display: none;
}

@media (max-width: 991px) {
  header .header-main .search-box .show-on-mobile {
    display: block;
  }
}

@media (max-width: 991px) {
  header .header-main .search-box .show-on-pc {
    display: none;
  }
}

header .header-main .search-box .show-on-pc.show {
  display: block;
}

header .header-main .search-box .chw-widget {
  width: 100%;
}

header .header-main .search-box .chw-widget form {
  border: 1px solid #c7c7c7;
}

header .header-main .search-box .chw-widget input,
header .header-main .search-box .chw-widget button {
  border: none;
  background: white;
  color: #c7c7c7;
}

header .header-main .search-box .chw-widget input {
  width: calc(100% - 50px);
}

/* The side navigation menu */

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #f5f5f5;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a h5 {
  padding: 0px;
  padding-left: 30px;
  line-height: 0.7;
  text-decoration: none;
  font-size: 20px;
  color: #1c1c1c;
  display: block;
  transition: 0.3s;
  margin-top: 30px;
  text-transform: uppercase;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
}

.sidenav .closebtn:hover {
  color: #f1f1f1;
}

.sidenav .lang-box {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.sidenav .language-widget li a {
  color: #3d3d3d;
}

.sidenav .search-widget {
  padding-left: 30px;
  padding-right: 30px;
}

.sidenav .search-widget form {
  text-align: center;
  border: 1px solid #c7c7c7;
}

.sidenav .search-widget form input,
.sidenav .search-widget form button {
  border: none;
  background: #f5f5f5;
  color: #c7c7c7;
}

.sidenav .search-widget form input {
  width: calc(100% - 100px);
}

.sidenav li {
  list-style: none;
}

#main {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.home-slider {
  overflow: hidden;
  height: auto;
}

.home-slider .gallery {
  width: 100%;
}

.home-slider .camera_wrap {
  height: 905px;
  margin-bottom: 0 !important;
}

.home-slider .camera_wrap .camera_fakeover img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.home-slider .camera_wrap .camera_thumbs_cont {
  display: none;
}

.home-slider .camera_wrap .cameraContent {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

footer {
  background-color: gray;
  padding-bottom: 25px;
}

footer .copyright_txt {
  text-align: center;
}

.home {
  overflow-x: hidden;
}

.home h2 {
  text-align: center;
}

.home .home-banner {
  background-color: #363636;
  text-transform: uppercase;
  height: 250px;
}

.home .home-banner h5 {
  color: white;
  font-size: 3rem;
  text-align: center;
  line-height: 250px;
}

.home .home-prodcat {
  margin-top: 40px;
  margin-right: 40px;
}

.home .home-prodcat .card-wrapper {
  position: relative;
  width: 25%;
}

@media (max-width: 991px) {
  .home .home-prodcat .card-wrapper {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .home .home-prodcat .card-wrapper {
    width: 100%;
  }
}

.home .home-prodcat .card-wrapper .card {
  height: 100%;
  width: 100%;
  background-size: contain;
  margin: 20px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.home .home-prodcat .card-wrapper .card a p {
  padding-left: 30px;
  padding-top: 20px;
  color: black;
  font-size: 2rem;
}

.home .home-prodcat .card-wrapper .card a img {
  width: 100%;
}

@media (max-width: 500px) {
  .home .home-prodcat .card-wrapper .card a img {
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 450px) {
  .home .home-prodcat .card-wrapper .card a img {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
  }
}

.home .home-prodcat .card-wrapper .hover-image {
  display: none;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  height: 100%;
  width: 100%;
}

.home .home-prodcat .card-wrapper .hover-image .custom-btn {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 50px);
}

.home .home-prodcat .card-wrapper .hover-image .custom-btn a {
  color: #D7B398;
}

.home .home-prodcat .card-wrapper:hover .hover-image {
  display: block;
}

@media (max-width: 991px) {
  .home .home-prodcat .card-wrapper:hover .hover-image {
    display: none;
  }
}

.home .home-review {
  margin: 20px 0;
  padding: 20px;
}

.home .home-review .card .text {
  position: absolute;
  left: 110px;
}

.home .home-review .card .text h5 {
  text-align: left;
}

.home .home-review .card .text p {
  margin: 0;
}

.home .home-featured-prod {
  margin-top: 30px;
  padding: 50px 0;
}

.home .home-featured-prod h2 {
  margin-bottom: 40px;
}

.home .home-featured-prod .card-deck {
  padding: 0px 20px;
}

.home .home-featured-prod .card-deck .card {
  text-align: center;
}

.home .home-featured-prod .card-deck .card a {
  color: black;
}

.home .home-featured-prod .card-deck .card a img {
  height: 300px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home .home-blog {
  margin-top: 30px;
  background-color: #F8F5F2;
  padding: 50px 0;
}

.home .home-blog h2 {
  margin-bottom: 40px;
  color: black;
}

.home .home-blog .card-deck {
  padding: 0px 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.home .home-blog .card-deck .card a {
  color: #D7B398;
}

.home .home-blog .card-deck .card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.home .home-blog .card-deck .card .meta {
  display: flex;
  justify-content: space-between;
}

.home .home-review .card {
  padding-top: 10px;
  padding-bottom: 15px;
}

.home .sns-banner {
  background-color: #363636;
  text-transform: uppercase;
  height: 250px;
  padding: 50px;
}

.home .sns-banner h5 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.home .sns-banner ul {
  justify-content: center;
}

.home .sns-banner ul i {
  color: white;
  font-size: 3rem;
  margin-left: 20px;
}

@media (max-width: 500px) {
  .home .sns-banner {
    height: 150px;
    padding: 40px;
  }

  .home .sns-banner h5 {
    font-size: 1.5rem;
  }

  .home .sns-banner ul {
    padding-left: 0;
  }

  .home .sns-banner ul i {
    font-size: 1rem;
  }
}

.contactus {
  color: #3d3d3d;
}

.contactus a {
  color: #3d3d3d;
}

.contactus h2 {
  line-height: 75px;
}

.contactus h2 span {
  display: inline-block;
  position: relative;
  width: 100%;
}

.contactus h2 span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 2px solid #D7B398;
  top: 39px;
  width: calc(100% - 00px);
}

.contactus h2 span:after {
  margin-left: 10px;
}

.contactus h3,
.contactus h5 {
  color: #D7B398;
}

.contactus .map {
  margin-top: 30px;
}

.contactus .map .google-map {
  height: 500px;
}

.contactus input.custom-btn {
  transition: 0.2s;
  color: white;
  background: #D7B398;
  border-radius: 16px;
  text-decoration: none;
  width: 100px;
}

.contactus input.custom-btn:hover {
  background: white;
  border: 1px solid #D7B398;
  color: #D7B398;
  cursor: pointer;
}

.contactus .contact-section {
  margin-top: 40px;
}

.contactus .contact-section p.title {
  color: #D7B398;
}

.contactus .contact-section p {
  margin-bottom: 0;
}

.contactus .contact-section .get-quote {
  margin-top: 40px;
}

.contactus .contact-section .get-quote .custom-btn {
  margin-top: 15px;
}

.contactus .contact-section .sns .sns-box {
  display: flex;
}

.contactus .contact-section .sns .sns-box i {
  margin: 10px 10px 10px 0;
  background: green;
  color: white;
  padding: 10px;
  border-radius: 22px;
}

.contactus .contact-section .sns .sns-box .fa-facebook-f {
  padding: 10px 13px 10px 13px;
}

.contactus .contact-section .quote {
  margin-top: 0px !important;
}

.contactus .contact-section .quote label,
.contactus .contact-section .quote p {
  font-size: 13px;
}

.contactus .contact-section .contactus-form {
  padding: 20px;
  color: gray;
}

.contactus .contact-section .contactus-form .form-row {
  margin-top: 10px;
}

.contactus .contact-section .contactus-form .form-row label {
  margin-bottom: 0;
  font-size: 13px;
  color: #D7B398;
}

.contactus .contact-section .contactus-form p {
  font-size: 12px;
  line-height: 1.2;
  margin-top: 10px;
}

.contactus .contact-section .contactus-form .custom_btn {
  background-color: black;
  color: #D7B398;
  width: auto;
  border-radius: 18px;
  margin-top: 10px;
}

.contactus .contact-section .contactus-form .custom_btn:hover {
  background-color: #464646;
}

.page .page-header {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.page .page-header h2 {
  text-align: center;
  color: white;
  line-height: 300px;
  font-size: 5rem;
}

@media (max-width: 770px) {
  .page .page-header h2 {
    font-size: 3rem;
  }
}

.page .content {
  margin-top: 30px;
}

.page .sns-banner {
  margin-top: 40px;
  background-color: #363636;
  text-transform: uppercase;
  height: 250px;
  padding: 50px;
}

.page .sns-banner h5 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.page .sns-banner ul {
  justify-content: center;
}

.page .sns-banner ul i {
  color: white;
  font-size: 3rem;
  margin-left: 20px;
}

.blogs .my-card {
  margin: 10px;
  width: 300px;
}

.blogs .my-card img {
  width: 100%;
}

.single-blog .container .woocommerce-breadcrumb {
  margin-left: 0;
}

.single-blog .container .contents .row .left-col img {
  width: 100%;
}

.single-blog .container .contents .row .right-col a {
  color: black;
}

.single-blog .container .related-product {
  margin: 30px 0px;
}

.single-blog .container .related-product .card-deck {
  padding: 0px 20px;
}

.single-blog .container .related-product .card-deck .card {
  text-align: center;
}

.single-blog .container .related-product .card-deck .card a {
  color: black;
}

.single-blog .container .related-product .card-deck .card a img {
  height: 300px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.no-page {
  text-align: center;
}

.no-page h3 {
  color: #D7B398;
}

.no-page a {
  color: #D7B398;
}

.no-page img {
  width: 50%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 30px auto;
}

.woocommerce-page nav.woocommerce-breadcrumb {
  margin-left: 30px;
  color: gray;
}

.woocommerce-page nav.woocommerce-breadcrumb a {
  color: gray;
}

.woocommerce-page .page-header {
  padding-top: 120px;
  color: white;
  text-align: center;
}

.woocommerce-page .page-header h2 {
  line-height: 30px;
  font-size: 5rem;
}

.woocommerce-page .page-header p {
  padding-top: 30px;
  font-size: 2rem;
}

@media (max-width: 770px) {
  .woocommerce-page .page-header h2 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .woocommerce-page .page-header {
    padding-top: 80px;
  }

  .woocommerce-page .page-header h2 {
    font-size: 2rem;
  }

  .woocommerce-page .page-header p {
    font-size: 1rem;
  }
}

@media (max-width: 330px) {
  .woocommerce-page .page-header {
    padding-top: 60px;
  }

  .woocommerce-page .page-header p {
    font-size: 1rem;
  }
}

.woocommerce-page .sidebar {
  margin-top: 40px;
}

@media (max-width: 991px) {
  .woocommerce-page .sidebar {
    display: none;
  }
}

.woocommerce-page .sidebar h5,
.woocommerce-page .mobile-sidebar h5 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.woocommerce-page .sidebar .product-categories a,
.woocommerce-page .mobile-sidebar .product-categories a {
  color: gray;
}

.woocommerce-page .sidebar .widget_product_search,
.woocommerce-page .mobile-sidebar .widget_product_search {
  width: 100%;
}

.woocommerce-page .sidebar .widget_product_search form,
.woocommerce-page .mobile-sidebar .widget_product_search form {
  border: 1px solid #c7c7c7;
}

.woocommerce-page .sidebar .widget_product_search input,
.woocommerce-page .sidebar .widget_product_search button,
.woocommerce-page .mobile-sidebar .widget_product_search input,
.woocommerce-page .mobile-sidebar .widget_product_search button {
  border: none;
  background: white;
  color: #c7c7c7;
}

.woocommerce-page .sidebar .widget_product_search input,
.woocommerce-page .mobile-sidebar .widget_product_search input {
  width: calc(100% - 50px);
}

.woocommerce-page .sidebar .widget_product_tag_cloud,
.woocommerce-page .mobile-sidebar .widget_product_tag_cloud {
  margin-top: 20px;
}

.woocommerce-page .sidebar .widget_product_tag_cloud .tagcloud a,
.woocommerce-page .mobile-sidebar .widget_product_tag_cloud .tagcloud a {
  font-size: 1rem !important;
  color: gray;
  border: 1px solid gray;
  padding: 4px 10px;
  line-height: 40px;
}

.woocommerce-page .sidebar .widget_price_filter,
.woocommerce-page .mobile-sidebar .widget_price_filter {
  margin-top: 20px;
}

.woocommerce-page .sidebar .widget_price_filter .ui-slider-range,
.woocommerce-page .mobile-sidebar .widget_price_filter .ui-slider-range {
  background-color: #D7B398;
}

.woocommerce-page .sidebar .widget_price_filter .ui-slider-handle,
.woocommerce-page .mobile-sidebar .widget_price_filter .ui-slider-handle {
  background-color: #D7B398;
}

.woocommerce-page .sidebar .widget-odd,
.woocommerce-page .sidebar .widget-even,
.woocommerce-page .mobile-sidebar .widget-odd,
.woocommerce-page .mobile-sidebar .widget-even {
  margin-top: 20px;
}

.woocommerce-page .mobile-sidebar {
  display: none;
}

@media (max-width: 991px) {
  .woocommerce-page .mobile-sidebar {
    display: block;
  }
}

.woocommerce-page .woocommerce-ordering .orderby {
  margin: 1px 2px;
  border-color: #c7c7c7;
}

.woocommerce-page .woocommerce-products-header h1 {
  font-weight: 300;
  line-height: 75px;
}

.woocommerce-page .woocommerce-products-header h1 span {
  display: inline-block;
  position: relative;
  width: 100%;
}

.woocommerce-page .woocommerce-products-header h1 span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 2px solid #D7B398;
  top: 39px;
  width: calc(100% - 300px);
}

.woocommerce-page .woocommerce-products-header h1 span:after {
  margin-left: 10px;
}

.woocommerce-page .woocommerce-products-header h3 {
  color: #D7B398;
}

.woocommerce-page .content-area {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 150px;
}

@media (max-width: 380px) {
  .woocommerce-page .content-area {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .woocommerce-page .content-area .wpgis-slider-nav {
    display: none;
  }
}

.woocommerce-page .content-area .site-main {
  max-width: 1200px;
  margin: 0 auto;
}

.woocommerce-page .product-main {
  margin-top: 50px;
}

.woocommerce-page .product-main .product-title {
  border-left: 3px #D7B398 solid;
  padding-left: 30px;
}

.woocommerce-page .product-main .product-title h3 {
  line-height: 1;
  font-weight: 400;
  font-size: 1.75rem;
}

.woocommerce-page .product-main .product-title p {
  color: #D7B398;
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 0;
  line-height: 1.2;
}

.woocommerce-page .product-main .shop {
  margin-top: 30px;
}

.woocommerce-page .product-main .shop p {
  margin-bottom: 0;
}

.woocommerce-page .product-main .shop .custom-btn {
  margin: 20px 0px 20px 0px;
}

.woocommerce-page .product-main .shop .custom-btn a {
  padding: 8px;
  border-radius: 8px;
}

.woocommerce-page .product-main .base-info {
  margin-top: 30px;
}

.woocommerce-page .product-main .base-info p {
  color: gray;
  font-size: 16px;
  margin-bottom: 0px;
}

.woocommerce-page .product-main .base-info p a {
  color: #D7B398;
}

.woocommerce-page .product-main .base-info .tags a {
  position: relative;
  margin-left: 30px;
  background: #F8F5F2;
  padding: 1px 10px 1px 5px;
}

.woocommerce-page .product-main .base-info .tags a::before {
  content: "";
  color: white;
  position: absolute;
  background: #F8F5F2;
  width: 12px;
  height: 12px;
  top: 5px;
  left: -5px;
  border-radius: 3px;
  z-index: -1;
  transform: skew(-45deg, 45deg);
}

.woocommerce-page .product-main .slick-slide.zoom img {
  height: 500px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.woocommerce-page .product-main .slick-slide img {
  height: 100px;
  border: 1px solid #ccc;
  -o-object-fit: contain;
     object-fit: contain;
}

.woocommerce-page .product-main .slick-list.draggable {
  min-height: 0px !important;
}

.woocommerce-page .product-main .custom-btn {
  margin: 50px 0px 50px 0px;
}

.woocommerce-page .product-main .custom-btn a {
  padding: 15px;
  border-radius: 38px;
}

.woocommerce-page .product-main .cart {
  margin-top: 20px;
  display: flex;
}

.woocommerce-page .product-main .cart .single_add_to_cart_button {
  background-color: #D7B398;
  margin-left: 10px;
}

.woocommerce-page .product-footer {
  margin-top: 50px;
}

.woocommerce-page .product-footer .related {
  padding-top: 50px;
}

.woocommerce-page .product-footer .related h2 {
  color: #D7B398;
  font-size: 20px;
}

.woocommerce-page .product-footer .related h2.woocommerce-loop-product__title {
  color: black;
}

.woocommerce-page .product-footer .woocommerce-tabs {
  margin-top: 30px;
}

.woocommerce-page .product-footer .woocommerce-tabs .ssba-classic-2 {
  display: none;
}

.woocommerce-page .product-footer .woocommerce-tabs ul.wc-tabs {
  display: flex;
  margin-bottom: 0px;
  font-size: 13px;
  padding: 0;
}

.woocommerce-page .product-footer .woocommerce-tabs ul.wc-tabs li {
  list-style: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px;
  font-weight: 100;
}

.woocommerce-page .product-footer .woocommerce-tabs ul.wc-tabs li a:hover {
  text-decoration: none;
  color: black;
}

.woocommerce-page .product-footer .woocommerce-tabs ul.wc-tabs li.active {
  background: #ececec;
}

.woocommerce-page .product-footer .woocommerce-tabs ul.wc-tabs li.active a {
  color: #D7B398;
}

.woocommerce-page .product-footer .woocommerce-tabs ul.wc-tabs .reviews_tab {
  scroll-margin-top: 450px;
}

.woocommerce-page .product-footer .woocommerce-tabs .woocommerce-Tabs-panel {
  border: 1px solid #ccc;
  padding: 30px;
}

.woocommerce-page .product-footer .woocommerce-tabs .woocommerce-Tabs-panel h2 {
  font-size: 20px;
}

.woocommerce-page .product-footer .woocommerce-tabs .woocommerce-Tabs-panel ul {
  padding-left: 0;
}

.woocommerce-page .product-footer .woocommerce-tabs .woocommerce-Tabs-panel ul li {
  list-style: none;
}

.woocommerce-page .product-footer .woocommerce-tabs .woocommerce-Tabs-panel ul li::before {
  content: "\25E6";
  padding-right: 10px;
  font-size: 10px;
  color: gray;
}

.woocommerce-page .product-footer .woocommerce-tabs .woocommerce-Tabs-panel img {
  width: 100%;
}

.woocommerce-page .product-footer .up-sells {
  margin-top: 30px;
}

.woocommerce-page .sns-banner {
  margin-top: 40px;
  background-color: #363636;
  text-transform: uppercase;
  height: 250px;
  padding: 50px;
}

.woocommerce-page .sns-banner h5 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.woocommerce-page .sns-banner ul {
  justify-content: center;
}

.woocommerce-page .sns-banner ul i {
  color: white;
  font-size: 3rem;
  margin-left: 20px;
}

.woocommerce .prod-main {
  margin-top: 30px;
}

.woocommerce a {
  color: #D7B398;
}

.woocommerce ul.products li.product {
  border: 1px solid #ccc;
  padding: 10px;
}

.woocommerce ul.products li.product span.itsnew {
  background-color: black;
}

.woocommerce ul.products li.product h2 {
  font-size: 1.2rem;
  color: black;
  text-align: center;
}

.woocommerce ul.products li.product .price {
  color: #D7B398;
  text-align: center;
}

.woocommerce ul.products li.product .add_to_cart_button {
  display: none;
}

