.home {
    overflow-x: hidden;
    h2 {
        text-align: center;
    }

    .home-banner {
        background-color: rgb(54, 54, 54);

        text-transform: uppercase;
        height: 250px;
        h5 {
            color: white;
            font-size: 3rem;
            text-align: center;
            line-height: 250px;
        }
    }

    .home-prodcat {
        margin-top: 40px;
        margin-right: 40px;
        .card-wrapper {
            position: relative;
            width: 25%;
            @media (max-width: 991px) {
                width: 50%;
            }
            @media (max-width: 500px) {
                width: 100%;
            }
            .card {
                height: 100%;
                width: 100%;
                background-size: contain;
                margin: 20px;
                background-repeat: no-repeat;
                background-position-x: right;
                a {
                    p {
                        padding-left: 30px;
                        padding-top: 20px;
                        color: black;
                        font-size: 2rem;
                    }
                    img {
                        width: 100%;
                        @media (max-width: 500px) {
                            width: 150px;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                        @media (max-width: 450px) {
                            width: 100%;
                            position: relative;
                            top: 0;
                            right: 0;
                        }
                    }
                }
            }
            .hover-image {
                display: none;
                position: absolute;
                top: 0;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 1;
                height: 100%;
                width: 100%;
                .custom-btn {
                    position: absolute;
                    top: calc(50% - 20px);
                    left: calc(50% - 50px);
                    a {
                        color: $accent-color;
                    }
                }
            }
        }
        .card-wrapper:hover {
            .hover-image {
                display: block;
            }
            @media (max-width:991px) {
                .hover-image {
                    display: none;
                }
               
            }
        }
    }
    .home-review {
        margin: 20px 0;
        padding: 20px;
        .card {
            .text {
                position: absolute;
                left: 110px;
                h5 {
                    text-align: left;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
    .home-featured-prod {
        margin-top: 30px;
        padding: 50px 0;
        h2 {
            margin-bottom: 40px;
        }
        .card-deck {
            padding: 0px 20px;
            .card {
                text-align: center;
                a {
                    color: black;
                    img {
                        height: 300px;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .home-blog {
        margin-top: 30px;
        background-color: $background-color;
        padding: 50px 0;
        h2 {
            margin-bottom: 40px;
            color: black;
        }
        .card-deck {
            padding: 0px 20px;
            max-width: 1100px;

            margin: 0 auto;
            .card {
                a {
                    color: $accent-color;
                }
                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    object-position: top;
                }
                .meta {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .home-review {
        .card {
            padding-top: 10px;
            padding-bottom: 15px;
        }
    }
    .sns-banner {
        background-color: rgb(54, 54, 54);

        text-transform: uppercase;
        height: 250px;
        padding: 50px;
        h5 {
            color: white;
            font-size: 3rem;
            text-align: center;
        }
        ul {
            justify-content: center;
            i {
                color: white;
                font-size: 3rem;
                margin-left: 20px;
            }
        }
        @media (max-width: 500px) {
            height: 150px;
            padding: 40px;
            h5 {
                font-size: 1.5rem;
            }
            ul {
                padding-left: 0;
                i {
                    font-size: 1rem;
                }
            }
        }
    }
}
